{% extends "base.html" %}
{% block title %}Checkout{% endblock %}
{% block content %}
<h1>Checkout</h1>
<div class="row">
    <h3>Total: {{"$%.2f"|format(total_cart_value)}}</h3>
    <form class="col-4" action="/retail/checkout" method="post">
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="first_name" id="first_name" placeholder="">
            <label for="first_name">First name</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="text" name="last_name" id="last_name" placeholder="">
            <label for="last_name">Last name</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="number" name="destination_longitude" id="destination_longitude"
                placeholder="">
            <label for="destination_longitude">Destination longitude</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="number" name="destination_latitude" id="destination_latitude"
                placeholder="">
            <label for="destination_latitude">Destination latitude</label>
        </div>
        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
    </form>
</div>
{% endblock %}