{% extends "base.html" %}
{% block title %}All transport requests{% endblock %}
{% block content %}

<h1>List of all transport requests</h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Price</th>
        <th>Unit count</th>
        <th>Request deadline</th>
        <th>Pickup longitude</th>
        <th>Pickup latitude</th>
        <th>Pickup time window start</th>
        <th>Pickup time window end</th>
        <th>Destination longitude</th>
        <th>Destination latitude</th>
        <th>Destination time window start</th>
        <th>Destination time window end</th>
        <th>Action</th>
    </tr>
    {% for transport_request in transport_requests %}
    <tr>
        <td>{{transport_request.request_id}}</td>
        <td>{{transport_request.price}}</td>
        <td>{{transport_request.unit_count}}</td>
        <td>{{transport_request.request_deadline}}</td>
        <td>{{transport_request.pickup_location_longitude}}</td>
        <td>{{transport_request.pickup_location_latitude}}</td>
        <td>{{transport_request.load_time_window_start}}</td>
        <td>{{transport_request.load_time_window_end}}</td>
        <td>{{transport_request.destination_location_longitude}}</td>
        <td>{{transport_request.destination_location_latitude}}</td>
        <td>{{transport_request.destination_time_window_start}}</td>
        <td>{{transport_request.destination_time_window_end}}</td>
        <td>
            {% if is_transporter %}
            {% if not transport_request.user_already_made_offer_on_the_request %}
            <form method="post" action="/transport/request/{{transport_request.request_id}}/offer">
                <button class="btn btn-primary" type="submit">Make offer</button>
            </form>
            {% endif %}
            {% endif %}
            {% if is_clerk %}
            <a href="/transport/request/{{transport_request.request_id}}/offers">List offers</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}