{% extends "base.html" %}
{% block title %}Edit user roles{% endblock %}
{% block content %}
<h1>Edit user roles</h1>
<table class="table table-striped">
    <tr>
        <th>Id</th>
        <th>Price</th>
        <th>Unit count</th>
        <th>Request deadline</th>
        <th>Transport deadline</th>
        <th>Destination longitude</th>
        <th>Destination latitude</th>
        <th>Supply time window start</th>
        <th>Supply time window end</th>
        <th>Product name</th>
        <th>Product unit</th>
    </tr>
    <tr>
        <td>{{data.client_request.id}}</td>
        <td>{{data.client_request.price}}</td>
        <td>{{data.client_request.unit_count}}</td>
        <td>{{data.client_request.request_deadline}}</td>
        <td>{{data.client_request.transport_deadline}}</td>
        <td>{{data.client_request.destination_longitude}}</td>
        <td>{{data.client_request.destination_latitude}}</td>
        <td>{{data.client_request.supply_time_window_start}}</td>
        <td>{{data.client_request.supply_time_window_end}}</td>
        <td>{{data.client_request.product_name}}</td>
        <td>{{data.client_request.product_unit}}</td>
    </tr>
</table>
<hr>
<form action="/client_requests/accept?client_request_id={{data.client_request.id}}" method="post">
    {% for warehouse in data.warehouses %}
    <fieldset>
        <label for="warehouse_id">{{warehouse.label}}</label>
        <input type="radio" name="warehouse_id" id="warehouse_id" value="{{ warehouse.id }}">
        {% for time_window in warehouse.load_time_windows %}
        <fieldset>
            <input type="radio" name="time_window_id" id="time_window_id" value="{{ time_window.id }}">
            <label for="time_window_id">{{ time_window.start}} - {{time_window.end}}</label>
        </fieldset>
        {% endfor %}
    </fieldset>
    {% endfor %}
    <label for="transport_request_deadline">Transport request deadline</label>
    <input type="date" name="transport_request_deadline" id="transport_request_deadline">
    <label for="price_for_transport">Price for transport</label>
    <input type="number" name="price_for_transport" id="price_for_transport">
    <input type="submit" value="Save">
</form>
{% endblock %}