{% extends "base.html" %}
{% block title %}Create account{% endblock %}
{% block content %}
<h1>Create client request</h1>
<div class="row">
    <form class="col-4" action="/client_requests/create" method="post">
        <fieldset class="mb-3">
            <legend>Select the product you want to request:</legend>
            <select aria-label="Product" class="form-select" name="product" id="product">
                {% for product in products %}
                <option value="{{ product.id }}">{{ product.label }}</option>
                {% endfor %}
            </select>
        </fieldset>
        <div class="form-floating mb-3">
            <input class="form-control" type="number" name="price" id="price" placeholder="">
            <label for="price">Price</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="number" name="unit_count" id="unit_count" placeholder="">
            <label for="unit_count">Unit count</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="date" name="request_deadline" id="request_deadline" placeholder="">
            <label for="request_deadline">Request acceptance deadline</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="date" name="transport_deadline" id="transport_deadline" placeholder="">
            <label for="transport_deadline">Transport deadline</label>
        </div>

        <div class="form-floating mb-3">
            <input class="form-control" type="number" name="destination_longitude" id="destination_longitude"
                placeholder="">
            <label for="destination_longitude">Destination longitude</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="number" name="destination_latitude" id="destination_latitude"
                placeholder="">
            <label for="destination_latitude">Destination latitude</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="time" name="supply_time_window_start" id="supply_time_window_start"
                placeholder="">
            <label for="supply_time_window_start">Supply time start</label>
        </div>
        <div class="form-floating mb-3">
            <input class="form-control" type="time" name="supply_time_window_end" id="supply_time_window_end"
                placeholder="">
            <label for="supply_time_window_start">Supply time end</label>
        </div>
        <input type="submit" value="Create">
    </form>
</div>
{% endblock %}