{% extends "base.html" %}
{% block title %}Edit user roles{% endblock %}
{% block content %}
<h1>Edit user roles</h1>
<form action="/user/roles/edit?target_id={{user.id}}" method="post">
    <table>
        <tr>
            <th>ID</th>
            <th>Login</th>
            <th>Admin</th>
            <th>Client</th>
            <th>Clerk</th>
            <th>Supplier</th>
            <th>Transporter</th>
        </tr>
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.login}}</td>
            <td><input type="checkbox" name="is_admin" id="is_admin" value="true" {{checked if user.is_admin}}></td>
            <td><input type="checkbox" name="is_client" id="is_client" value="true" {{checked if user.is_client}}></td>
            <td><input type="checkbox" name="is_clerk" id="is_clerk" value="true" {{checked if user.is_clerk}}></td>
            <td><input type="checkbox" name="is_supplier" id="is_supplier" value="true" {{checked if user.is_supplier}}></td>
            <td><input type="checkbox" name="is_transport" id="is_transport" value="true" {{checked if user.is_transport}}></td>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>
{% endblock %}