{% extends "base.html" %}
{% block title %}Supply requests{% endblock %}
{% block content %}

<h1>List of supply requests</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Product name</th>
        <th>Unit count</th>
        <th>Request deadline</th>
        <th>Action</th>
    </tr>
    {% for supply_request in supply_requests %}
    <tr>
        <td>{{supply_request.id}}</td>
        <td>{{supply_request.supply.product.label}}</td>
        <td>{{supply_request.supply.unit_count}}</td>
        <td>{{supply_request.request_deadline}}</td>
        <td>
            {% if is_supplier %}
            <a href="/supply/request/{{supply_request.id}}/offer/create">Make offer</a>
            {% endif %}
            {% if is_clerk %}
            <a href="/supply/request/{{supply_request.id}}/offers">List offers</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}