{% extends "base.html" %}
{% block title %}User Role Management{% endblock %}
{% block content %}

<h1>List of user roles</h1>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Login</th>
        <th>Admin</th>
        <th>Client</th>
        <th>Clerk</th>
        <th>Supplier</th>
        <th>Transporter</th>
        <th></th>
    </tr>
    {% for user in users %}
    <tr>
        <td>{{user.id}}</td>
        <td>{{user.login}}</td>
        <td>{{user.is_admin}}</td>
        <td>{{user.is_client}}</td>
        <td>{{user.is_clerk}}</td>
        <td>{{user.is_supplier}}</td>
        <td>{{user.is_transport}}</td>
        <td><a href="/user/roles/edit?target_id={{user.id}}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}